body{
  overflow-x: hidden !important;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FFFF00;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: left;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    font-family: Action Man Shaded;
    display: block;
    transition: 0.3s;
}



.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#burger_span{
    font-size:30px;cursor:pointer;position: fixed;
    top: 1%;
    left: 1%;
    width: 20px;"
}
#burger_img{
	height:20px;
}

.main_heading{
	font-size: 80px;
}

.main_img{
	height:200px;
}

.main_btn{
	   background-color: 		#FF7A00  !important;
	   color:black  !important;
	   font-family: Action Man Shaded;
	   font-size: 40px  !important;
	   border:4px solid black !important;
	}
.span{
    font-family: Action Man Shaded;
     font-size: 25px  !important;
}

#register{
  margin-top: -5%
}
#login_list li{
     font-family: Action Man;
    color:black;
    font-size:20px  !important;
    margin-top:5%;
  }

#ins_box{
	width:500px;
	height: 500px;
}

#login_submit{
     background-color:    #FF7A00  !important;
     color:black  !important;
     font-family: Action Man Shaded;
     font-size: 50px  !important;
     border:4px solid black !important;
  }

#test_submit{
     background-color:    #FF7A00  !important;
     color:black  !important;
     font-family: Action Man Shaded;
     font-size: 50px  !important;
     border:4px solid black !important;
  }

  #thankyou_next_row{
  	margin-top: 4%;
  	height:200px;
  }

  #thankyou{
    font-size: 50px;
    margin-top:2%;
  }

  #res_soon{
     font-size: 30px;
  }

  #thankyou_row{
  	margin-top: 8%;
  }

  .main_lines{
	  font-family: Action Man;
	  color:black;
	  font-size:20px  !important;
	  margin-top:5%;
	}

  label{
    font-family: Action Man;
    color:black;
    font-size:35px  !important;
    margin-top:5%;
  }
  
  
  input{
    width:97% !important;
    height:50px !important;
  }

  .res_btn{
  	
  	background-color:    #FF7A00  !important;
     color:black  !important;
     font-family: Action Man Shaded;
     font-size: 30px  !important;
     border:4px solid black !important;
  }

  .congo_text{
  	font-size: 80px;
  }

#remain{
  background-color:#FF7A00;
  border:1px solid black;
  width:180px !important;
  height:50px !important;
  margin-top: -1%;
  color:black;
  font-family: Action Man;
  font-size:20px
}
#time_left_div{
  position:fixed;
  bottom:2%;
  right:1%;
}

@media (max-width:2500px) { 



}

@media (max-width:1700px) { 

}

@media (max-width:1640px) { 



}

@media (max-width:1600px) { 


}


@media (max-width:1550) { 
 
}


@media (max-width:1500px) { 

 

}

@media (max-width:1300px) { 
	
}



@media (max-width:1260px) { 
	
}

@media (max-width:1240px) { 
	
}

@media (max-width:1150px) { 
	

}

@media (max-width:1020px) { 
	
   .main_heading{
	font-size: 40px;
}

.main_img{
	height:100px;
}

.main_btn{
	   background-color: 		#FF7A00  !important;
	   color:black  !important;
	   font-family: Action Man Shaded;
	   font-size: 20px  !important;
	   border:4px solid black !important;
	   margin-top: 2%;
	   width:200px;
	}

.span{
    font-family: Action Man Shaded;
     font-size: 14px  !important;
}

#login_list li{
     font-family: Action Man;
    color:black;
    font-size:12px  !important;
    margin-top:5%;
  }

#imp_text{
	margin-top: -2%;
}
 #ins_box{
	width:310px;
	height: 310px;
}

#login_submit{
     background-color:    #FF7A00  !important;
     color:black  !important;
     font-family: Action Man Shaded;
     font-size: 30px  !important;
     border:4px solid black !important;
  }

  label{
    font-family: Action Man;
    color:black;
    font-size:25px  !important;
    margin-top:5%;
  }
  
  
  input{
    width:67% !important;
    height:30px !important;
  }

#test_submit{
     background-color:    #FF7A00  !important;
     color:black  !important;
     font-family: Action Man Shaded;
     font-size: 30px  !important;
     border:4px solid black !important;
  }

  

  .res_btn{
  	margin-top: 2%;
  	background-color:    #FF7A00  !important;
     color:black  !important;
     font-family: Action Man Shaded;
     font-size: 30px  !important;
     border:4px solid black !important;
  }

 .congo_text{
  	font-size: 50px;
  }

}

@media (max-width:912px) { 

  #thankyou{
    font-size: 30px;
    margin-top:6%;
  }

  #res_soon{
     font-size: 20px;
  }

  #thankyou_next_row{
  	margin-top: 5%;
  	

  }

  #thankyou_row{
  	margin-top: 12%;
  	
  }
}

@media (max-width:891px) { 
  .main_lines{
	  font-family: Action Man;
	  color:black;
	  font-size:15px  !important;
	  margin-top:3%;
	}

  .main_btn{
	   background-color: 		#FF7A00  !important;
	   color:black  !important;
	   font-family: Action Man Shaded;
	   font-size: 20px  !important;
	   border:4px solid black !important;
	   margin-top: 1%;
	   width:200px;
	}

  .span{
    font-family: Action Man Shaded;
     font-size: 14px  !important;
}

  #register{
  margin-top: -3%
}
}

@media (max-width:824px) { 

  #thankyou{
    font-size: 30px;
    margin-top:6%;
  }

  #res_soon{
     font-size: 20px;
  }

  #thankyou_next_row{
  	margin-top: 6%;
  	
  	
  }

  #thankyou_row{
  	margin-top: 12%;
  }
}


@media (max-width:767px) { 

  #img1,#img2,#img3{
  	margin-top: 2%;
  }

  #form_area{
     margin-bottom: 2%;
  }

  #remain{
  background-color:#FF7A00;
  border:1px solid black;
  width:100px !important;
  height:50px !important;
  margin-top: -1%;
  color:black;
  font-family: Action Man;
  font-size:12px
}

#time_left_div{
  position:fixed;
  bottom:2%;
  right:8%;
}


}

@media (max-width:580px) { 

  .congo_text{
  	font-size: 30px;
  }
}

@media (max-width:500px) { 

  #thankyou{
    font-size: 18px;
    margin-top:5%;
  }

  #res_soon{
     font-size: 10px;
  }

  #thankyou_next_row{
  	margin-top: 14%;
  	height:150px;
  }

  #thankyou_row{
  	margin-top: 24%;
  }

  .main_heading{
	font-size: 25px;
}

.congo_text{
	font-size: 20px;
}

#burger_span{
    font-size:30px;cursor:pointer;position: fixed;
    top: 1px;
    left: 1%;
    width: 20px;"
}


}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media (max-width:410px) { 

  


  #thankyou{
    font-size: 18px;
    margin-top:11%;
  }

  #res_soon{
     font-size: 10px;
  }

  #thankyou_next_row{
  	margin-top: 14%;
  }

  #thankyou_row{
  	margin-top: 24%;
  }
}

@media (max-width:390px) { 

  #thankyou{
    font-size: 18px;
    margin-top:13%;
  }

  #res_soon{
     font-size: 10px;
  }

  #thankyou_next_row{
  	margin-top: 14%;
  }

  #thankyou_row{
  	margin-top: 24%;
  }
}

@media (max-width:330px) { 

  #thankyou{
    font-size: 18px;
    margin-top:16%;
  }

  #res_soon{
     font-size: 10px;
  }

  #thankyou_next_row{
  	margin-top: 14%;
  }

  #thankyou_row{
  	margin-top: 32%;
  }
}